   RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /rutalima/gob/index.php/$1 [L]
 
    ErrorDocument 404 /rutalima/gob/index.php