/* Space out content a bit */
body{
/*  padding-top: 20px;
  padding-bottom: 20px;*/
  background: url(../images/bg-header.jpg);
  background-repeat:no-repeat;
  background-position: 50% 0%;
  font-family: 'odebrechtslab';
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 880px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@font-face {
  font-family: odebrechtslab;
  src: local("?"),
  url("../fonts/web/odebrecht-sans_bold-webfont.woff") format("woff"),
  url("../fonts/web/odebrecht-sans_bold-webfont.otf") format("opentype"),
  url("../fonts/web/odebrecht-sans_bold-webfont.svg#odebrechtslab") format("svg");
}
#Login{
  height: 119px;
  background: #f3f3f3;
  width: 880px;
  margin-top: 40%;
}
#Login .Box {
  float: left;
  width: 440px;
  height: 120px;
  margin-bottom: 65px;
}
#Login .Box .User {
  background: url(../images/bg-login.png);
  }

#Login .Box .Password {
  background: url(../images/bg-password.png);
}

#Login .Box .User, #Login .Box .Password {
  float: left;
  width: 135px;
  height: 119px;
  margin-right: 20px;
  text-indent: -9999px;
  display: block;
}

#Login .Box h2 {
  font-size: 18px;
  padding-left: 15px;
  float: left;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #75787b;
}

#Login .Box input[type=text], #Login .Box input[type=password] {
  border: 1px solid #d0d0ce;
  width: 210px;
  float: left;
  height: 39px;
  line-height: 39px;
  font-size: 13px;
  font-family: 'odebrechtsans';
  padding: 0 10px;
  margin-left: 20px;
}
#Footer{
  background: #e4002b;
  position: relative;
  width: 100%;
  padding: 30px 0;
  color: #FFF;
  z-index: 100;
  margin-top: 10%;
}
#Title{
  background: #c80029;
  position: absolute;
  top: 0;
  left: 0px;
  width: 280px;
  height: 120px;
  z-index: 99999!important;
  display: block;
  color: #FFF;
}
#Logo {
  display: block;
  width: 280px;
  position: absolute;
  left: 0px;
  top: 134px;
  z-index: 2;
  background-color: rgb(227, 0, 27);
}
#Title h1 {
  font-size: 23px;
  line-height: 30px;
  
  margin-top: 20px;
  margin-left: 20px;
  color: #FFF;
}
#Title h2 {
  font-size: 12px;
  line-height: 30px;
  font-family: 'odebrechtslab';
  margin-top: 20px;
  margin-left: 20px;
  color: #FFF;
}
.cinta-roja{
  background-color: #C80029;
  height: 10px;
}
.cinta-roja-delgada{
  background-color: #e4002b;;
  height: 5px;
}
.cinta-gris{
  background-color: rgb(140, 140, 140);
  height: 41px;
}
.cinta-blanco{
  height: 210px;
  background-image: url(../images/bg-header.jpg);
}
.cinta-cuerpo{
  height: 500px;
}
.cinta-pie{
  background: #e4002b;
  padding: 30px 0;
  color: #FFF;
  z-index: 100;
}

.container2{
  position: relative;
  margin: auto;
  width: 85%;
}

 nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 25%;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  .pull-right{
    float: left!important;
  }
  .cabecera3{
    height: 10%;
    width: 100%;
  }

  .i{
    padding: 10px;
  }
  .cuerpo3{
    display: inline-block;
    height: 100%;
    width: 70%;
    background-color: rgb(253, 253, 253);
    float: right;
  }

 