/* Space out content a bit */
body{
/*  padding-top: 20px;
  padding-bottom: 20px;*/
  background: url(../img/bg-header.jpg);
  background-repeat:no-repeat;
  background-position: 50% 0%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 880px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@font-face {
  font-family: odebrechtslab;
  src: local("?"),
  url("../font/odebrecht-sans_bold-webfont.woff") format("woff"),
  url("../font/odebrecht-sans_bold-webfont.otf") format("opentype"),
  url("../font/odebrecht-sans_bold-webfont.svg#odebrechtslab") format("svg");
}
#Login{
  height: 119px;
  background: #f3f3f3;
  width: 880px;
  margin-top: 40%;
}
#Login .Box {
  float: left;
  width: 440px;
  height: 120px;
  margin-bottom: 65px;
}
#Login .Box .User {
  background: url(../img/bg-login.png);
  }

#Login .Box .Password {
  background: url(../img/bg-password.png);
}

#Login .Box .User, #Login .Box .Password {
  float: left;
  width: 135px;
  height: 119px;
  margin-right: 20px;
  text-indent: -9999px;
  display: block;
}

#Login .Box h2 {
  font-size: 18px;
  padding-left: 15px;
  float: left;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #75787b;
}

#Login .Box input[type=text], #Login .Box input[type=password] {
  border: 1px solid #d0d0ce;
  width: 210px;
  float: left;
  height: 39px;
  line-height: 39px;
  font-size: 13px;
  font-family: 'odebrechtsans';
  padding: 0 10px;
  margin-left: 20px;
}
#Footer{
  background: #e4002b;
  position: relative;
  width: 100%;
  padding: 30px 0;
  color: #FFF;
  z-index: 100;
  margin-top: 10%;
}
#Title{
  background: #c80029;
  position: absolute;
  top: 0;
  left: 0px;
  width: 280px;
  height: 120px;
  z-index: 99999!important;
  display: block;
  color: #FFF;
}
#Logo {
  display: block;
  width: 280px;
  position: absolute;
  left: 0px;
  top: 134px;
  z-index: 2;
}
#Title h1 {
  font-size: 23px;
  line-height: 30px;
  font-family: 'odebrechtslab';
  margin-top: 20px;
  margin-left: 20px;
  color: #FFF;
}
#Title h2 {
  font-size: 12px;
  line-height: 30px;
  font-family: 'odebrechtslab';
  margin-top: 20px;
  margin-left: 20px;
  color: #FFF;
}
.cinta-roja{
  background-color: #e4002b;;
  height: 15px;
}
.cinta-roja-delgada{
  background-color: #e4002b;;
  height: 5px;
}
.cinta-gris{
  background-color: rgb(77, 68, 68);
  height: 25px;
}
.cinta-blanco{
  height: 210px;
  background-image: url(../img/bg-header.jpg);
}
.cinta-cuerpo{
  height: 500px;
}
.cinta-pie{
  background: #e4002b;
  padding: 30px 0;
  color: #FFF;
  z-index: 100;
}

.container2{
  position: relative;
  margin: auto;
  width: 85%;
}
